<body style="background-image: url('img/frituta.png'); background-size:50 cover; background-position: center; color: #f0e3e3; font-family: Arial, sans-serif; text-align: center; height: 100vh; margin: 0;">
    <div class="container p-5" style="background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
        <h1 style="color: white; text-shadow: 2px 2px 5px rgb(243, 239, 239);">Bienvenido a Botanas LILI</h1>
        <h2 style="color: white; text-shadow: 2px 2px 5px rgba(244, 243, 245, 0.3);">Seleccione una opción</h2>

        <div class="row" style="display: flex; justify-content: center; gap: 20px;">
            <div class="col text-center">
                <a href="/signup" class="btn btn-primary btn-lg" style="background-color: #ff8c00; padding: 15px 30px; font-size: 1.25em; color: white; border-radius: 50px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); text-decoration: none;">Registrarse</a>
            </div>
            <div class="col text-center">
                <a href="/signin" class="btn btn-primary btn-lg" style="background-color: #ff8c00; padding: 15px 30px; font-size: 1.25em; color: white; border-radius: 50px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); text-decoration: none;">Iniciar Sesión</a>
            </div>
        </div>
    </div>
</body>
